* {
    color: rgb(250, 250, 250);
    font: 16px;
    padding: 8px;
}
.chipbg {
    background-image: url(/Users/joeabbey/repos/odin-recipes/images/kitchen1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.pastabg {
    background-image: url(/Users/joeabbey/repos/odin-recipes/images/drypasta.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.stewbg {
    background-image: url(/Users/joeabbey/repos/odin-recipes/images/largepot.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.lambbg {
    background-image: url(/Users/joeabbey/repos/odin-recipes/images/white.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.homebg {
    background-image: url(Users/joeabbey/repos/odin-recipes/images/pantry.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.title {
    background-color: darkslategray;
    color: blanchedalmond;
    font-size: 32px;
    text-align: center;
    margin: 0;
    border: 2px solid lightgoldenrodyellow;
 
}
.home-title {
    margin-bottom: 30px;
}

.pasta {
    list-style-position: inside;
    color: blue;
    margin-left: 23%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: 25%;
    border: solid lightgoldenrodyellow;

}

.pasta-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lamb-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lamb {
    list-style-position: inside;
    color: blue;
    margin-left: 20%;
}

.stew-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stew {
    list-style-position: inside;
    color: blue;
    margin-left: 21%;
}

.chip-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chip {
    list-style-position: inside;
    color: blue;
    margin-left: 20%;
}

.home {
    color: red;
    margin-left: 20px;
}
.describe {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 20px;
    color: rgb(237, 239, 238);
    margin-bottom: 15px;
}
.steps {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    text-align: center;
    font-style: italic;
}
.directions {
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: Georgia, serif;
    font-size: 18px;
    padding-left: 20%;
}
.plate-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    transform: rotate(270deg);
    border: solid lightgoldenrodyellow;
    
}
.index {
    display: block;
    padding-left: 2%;
    padding-right: auto;
    color: blue;
}

.lamb-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    transform: rotate(90deg);
    border: solid lightgoldenrodyellow;
}
.chip-img {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border: lightgoldenrodyellow;
}
.stew-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border: solid lightgoldenrodyellow;
}
.link:hover {
    transform: scale(1.2);
    color: blue;
}

.index:hover {
    transform: scale 1.2;
    color: rgb(205, 230, 242);
    text-shadow: 2px 2px 5px black;
}

.home:hover {
    transform: scale(1.2);
    color: purple;
    text-shadow: 2px 2px 5px black;
}
