* {
    background-color: black;
    color: white;
    font: 16px;
    margin: 0 auto;
    padding: 8px;
}

.title {
    background-color: darkslategray;
    color: blanchedalmond;
    font-size: 32px;
    text-align: center;
    margin: 0;
    border: 2px solid lightgoldenrodyellow;
 
}
.home-title {
    margin-bottom: 30px;
}

.pasta {
    list-style-position: inside;
    color: blue;
    margin-left: 23%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: 25%;
    border: solid lightgoldenrodyellow;

}

.pasta-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lamb-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lamb {
    list-style-position: inside;
    color: blue;
    margin-left: 20%;
}

.stew-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stew {
    list-style-position: inside;
    color: blue;
    margin-left: 21%;
}

.chip-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chip {
    list-style-position: inside;
    color: blue;
    margin-left: 20%;
}

.home {
    color: red;
    margin-left: 20px;
}
.describe {
    text-align: center;
    font-size: 20px;
    color: lightgrey;
    margin-bottom: 15px;
}
.steps {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    text-align: center;
    font-style: italic;
}
.directions {
    margin-left: 15%;
    font-family: Georgia, serif;
    font-size: 18px;
    padding: 30px;
}
.plate-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    transform: rotate(270deg);
    border: solid lightgoldenrodyellow;
    
}
.index {
    display: block;
    padding-left: 2%;
    padding-right: auto;
    color: blue;
}

.lamb-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    transform: rotate(90deg);
    border: solid lightgoldenrodyellow;
}
.chip-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border: lightgoldenrodyellow;
}
.stew-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border: solid lightgoldenrodyellow;
}
.link:hover {
    transform: scale(1.2);
    color: blue;
}

.index:hover {
    transform: scale 1.2;
    color: hotpink;
}

.home:hover {
    transform: scale(1.1);
    color: purple;
}